In [1]:
print("hello world!")

hello world!

In [2]:
if 10>1:
    print("10 is greater that 1") 
#The number of spaces is up to you as a programmer, the most common use is four, but it has to be at least one.

10 is greater that 1

In [ ]:
if 5 > 2:
  print("Five is greater than two!") 
   print("Five is greater than two!")
#will gave error because of space

In [ ]:
"""
this is a comment written
on many lines

"""

In [3]:
x = 5
y = "Hello, World!"

print(x,y)

5 Hello, World!

In [ ]:
x=3
x="Susan"
print (x)

In [6]:
x=str(3)
y=int(3)
z=float(3)
print(x,y,z)

3 3 3.0

In [7]:
y=5
z="John"
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>

In [8]:
x="John"
print(x)
#between those two quotes no difference
x='John'
print(x)

John
John

In [9]:
a=4
A="Sally"
print(a)
print(A)
# a and A are different because of their asci numbers

4
Sally

In [11]:
myvar="John"
my_var="John"
_my_var="John"
myVar="John"
MYVAR="John"
myvaR2="John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvaR2)

John
John
John
John
John
John

In [22]:
2="John"
2myvar="John"
my-var="John"
my var="John"

print(2)
print(2myvar)
print(my-var)
print(my var)

SyntaxError: invalid decimal literal (688799069.py, line 5)

In [13]:
x,y,z="apple","banana","orange"
print(x)
print(y)
print(z)

apple
banana
bear

In [14]:
x=y=z="apple"
print(x)
print(y)
print(z)

apple
apple
apple

In [15]:
fruits = ["apple","banana","orange"]
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
orange

In [16]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [17]:
x = "Python"
y = "is"
z = "awesome"
print(x+y+z)

Pythonisawesome

In [18]:
x=2
y=10
print(x+y)

12

In [ ]:
x=5
y="apple"
print(x+y)
#error because of the difference between variables

In [23]:
x = "awesome"
def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [24]:
x = "awesome"
def myfunc():
  x="fatastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fatastic
Python is awesome

In [1]:
def myfunc():
    global x
    x="fantastic"

myfunc()
print ('python is ' ,x)

python is  fantastic

In [2]:
x="awesome"
def myfunc():
    global x
    x="fantastic"

myfunc()

print ('python is ' ,x)

python is  fantastic

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

In [5]:
x1 = "Hello World"	
x2 = 20	
x3 = 20.5	
x4 = 1j
x5 = ["apple", "banana", "cherry"]
x6 = ("apple", "banana", "cherry")	
x7 = range(6)	
x8 = {"name" : "John", "age" : 36}	
x9 = {"apple", "banana", "cherry"}
x10 = frozenset({"apple", "banana", "cherry"})
x11 = True	
x12 = b"Hello"	
x13 = bytearray(5)	
x14 = memoryview(bytes(5))	
x15 = None
print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))
print(type(x6))
print(type(x7))
print(type(x8))
print(type(x9))
print(type(x10))
print(type(x11))
print(type(x12))
print(type(x13))
print(type(x14))
print(type(x15))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>

In [6]:
x1 = str("Hello World")	
x2 = int(20)	
x3 = float(20.5)
x4 = complex(1j)	
x5 = list(("apple", "banana", "cherry"))	
x6 = tuple(("apple", "banana", "cherry"))	
x7 = range(6)	
x8 = dict(name="John", age=36)
x9 = set(("apple", "banana", "cherry"))	
x10 = frozenset(("apple", "banana", "cherry"))	
x11 = bool(5)
x12 = bytes(5)
x13 = bytearray(5)
x14 = memoryview(bytes(5))
print(x1)
print(type(x1)) 

print(x2)
print(type(x2)) 

print(x3)
print(type(x3)) 

print(x4)
print(type(x4)) 


print(x5)
print(type(x5)) 

print(x6)
print(type(x6)) 

print(x7)
print(type(x7)) 

print(x8)
print(type(x8)) 

print(x9)
print(type(x9)) 


print(x11)
print(type(x11)) 

print(x12)
print(type(x12)) 

print(x13)
print(type(x13)) 

print(x14)
print(type(x14))

Hello World
<class 'str'>
20
<class 'int'>
20.5
<class 'float'>
1j
<class 'complex'>
['apple', 'banana', 'cherry']
<class 'list'>
('apple', 'banana', 'cherry')
<class 'tuple'>
range(0, 6)
<class 'range'>
{'name': 'John', 'age': 36}
<class 'dict'>
{'apple', 'cherry', 'banana'}
<class 'set'>
True
<class 'bool'>
b'\x00\x00\x00\x00\x00'
<class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>
<memory at 0x10589aa40>
<class 'memoryview'>

In [7]:
x = 1    
y = 2.8  
z = 1j   

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [8]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [9]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [10]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [11]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [14]:
x = 1   
y = 2.8  
z = 1j   

a = float(x)


b = int(y)


c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [15]:
import random
print(random.randrange(1,10))

3

In [16]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

In [17]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [18]:
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

STRINGS

In [19]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [21]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)


a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [23]:
a = "Hello, World!"
print(a[1])

e

In [24]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [25]:
a = "Hello, World!"
print(len(a))

13

In [29]:
text="the best things in life are free"
print("free" in text)

True

In [31]:
text="the best things in life are free"
if "free" in text:
    print("free is in text")

free is in text

In [32]:
text="the best things in life are free"
print("expensive"  not in text)

True

In [34]:
text="the best things in life are free"
if "expensive" not in text:
    print ("expensive not in text")

expensive not in text

In [44]:
b="hello World!"
print(b[2:3])

print(b[:4])
print(b[2:])
print(b[-5:-2])

l
hell
llo World!
orl

In [55]:
a="Hello, World!"
print(a.upper())
print(a.lower())

b=" Hello World!"
print(b.strip())

print(a.replace("H","P"))
print(a.split(","))

HELLO, WORLD!
hello, world!
Hello World!
Pello, World!
['Hello', ' World!']

In [56]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [59]:
age = 36
txt=f"i am {age} years old"
print(txt)

i am 36 years old

In [62]:
price=59
txt=f"the price is {price:.2f} dollars"
print(txt)

the price is 59.0000 dollars

In [64]:

txt=f"the price is {20*59} dollars"
print(txt)

the price is 1180 dollars

In [67]:
a="We are the so-called \"Vikings\" from the north."
print(a)

We are the so-called "Vikings" from the north.

Code	Result	Try it
\'	    Single Quote	
\\	    Backslash	
\n	    New Line	
\r	    Carriage Return	
\t	    Tab	
\b	    Backspace	
\f	    Form Feed	
\ooo	Octal value	
\xhh	Hex value

In [86]:
txt = 'It\'s alright.'
print(txt) 

txt = "This will insert one \\ (backslash)."
print(txt) 

txt="Hello \nWorld"
print(txt)

txt="Hello\rworld"
print(txt)

txt = "Hello\tWorld!"
print(txt) 

#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt) 

#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt) 

#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

It's alright.
This will insert one \ (backslash).
Hello
World
world

In [92]:
#does first letter to upper
txt="python is fun"
txt2="24 python is fun"
a=txt.capitalize()
b=txt2.capitalize()
print(a)
print(b)

Python is fun
24 python is fun

In [120]:
txt = "Company12"
x = txt.isalnum()
print(x)


txt = "Company 12"
x = txt.isalnum()
print(x)

True
False

In [121]:
txt = "CompanyX"
x = txt.isalpha()
print(x)

txt = "Company10"
x = txt.isalpha()
print(x)

True
False

In [ ]:
txt = "Company123"
x = txt.isascii()
print(x)

In [122]:
txt = "1234"
x = txt.isdecimal()
print(x)

a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G
print(a.isdecimal())
print(b.isdecimal())

True
True
False

In [124]:
txt = "hello world!"
x = txt.islower()
print(x)

a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"
print(a.islower())
print(b.islower())
print(c.islower())

True
False
True
False

In [125]:
"""The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.

Exponents, like ² and ¾ are also considered to be numeric values.

"-1" and "1.5" are NOT considered numeric values, because all the characters in the string must be numeric, and the - and the . are not."""

txt = "565543"
x = txt.isnumeric()
print(x)

a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2"
d = "-1"
e = "1.5"
print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

True
True
True
False
False
False

In [ ]:
txt = "   "
x = txt.isspace()
print(x)

txt = "   s   "
x = txt.isspace()
print(x)

In [128]:
txt = "Hello, And Welcome To My World!"
x = txt.istitle()
print(x)

a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"
print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

True
False
True
True
True

In [129]:
txt = "THIS IS NOW!"
x = txt.isupper()
print(x)

a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

True
False
False
True

BOOLEANS

In [154]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [155]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [156]:
print(bool("Hello"))
print(bool(15))

True
True

In [157]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

OPERATORS

In [159]:
x = 13
y = 3

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print(x // y)  #the floor division // rounds the result down to the nearest whole number

16
10
39
4.333333333333333
1
2197
4

In [160]:
x = 5
y = 3

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
True
False
True
False

In [ ]:
x = 5

print(x > 3 and x < 10)
print(x > 3 or x < 10)
print(x > 3 not x < 10)

In [ ]:
x = 5
y = 3

print(x is y)
print(x is not y)

In [ ]:
x = ["apple", "banana"]

print("banana" in x)
print("banana" not in x)

IF ... ELSE

In [161]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [162]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [163]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [164]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [165]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

In [166]:
a = 33
b = 200

if b > a:
  pass